@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dangerless Liaisons';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/119354/DangerlessLiaisons-nAXnY.woff') format('woff');
}

@font-face {
  font-family: "Leira Lite";
  src: url("./public/fonts/LeiraLite.ttf");
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
