@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
@import url("https://db.onlinewebfonts.com/c/8865c2ea1c416f5c17881dbb8b60a51d?family=Leira+Lite");
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dangerless Liaisons';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/119354/DangerlessLiaisons-nAXnY.woff') format('woff');
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  